<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MM/yyyy - HH:mm:ss} %5p [%t] %c > %m%n"/>
        </Console>
        <File name="{{project_name}}-back" fileName="/opt/apps/logs/{{project_name}}-back.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{dd/MM/yyyy - HH:mm:ss} %5p [%t] %c > %m%n"/>

        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="{{project_namespace}}.{{project_name}}" level="INFO" additivity="false">
            <AppenderRef ref="{{project_name}}-back"/>
        </Logger>
    </Loggers>
</Configuration>
